<% unless user_signed_in? %>
<div class="center hero-unit">
<h1>Exploring</h1>
<p>
<p>
a visual collection.
<%= link_to "About", "http://www.bondable.com" %>
</p>
<p>
<p>
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
</div>
</p>
<%end %>
