<% unless user_signed_in? %>
<div class="center hero-unit">
<h1>Welcome to Bondable</h1>
<p>
<p>
Connect your cloud apps together! Use
<%= link_to "Bondable", "http://www.bondable.com" %>
</p>
<p>
<p>
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
</div>
</p>
<%end %>
