<h1>About Michael's Test App</h1>
<p>
This is the sample app for
<%= link_to "Michael Stephanblome", "http://www.michaelstephanblome.com" %>
blog.</p>
<p>
<%= link_to "Sign up now!", "http://www.michaelstephanblome.com" %>
</p>


