<div class="center hero-unit">
<h1>Welcome to Bondable</h1>
<p>
<p>
Connect your cloud apps together! Use
<%= link_to "Bondable", "http://www.bondable.com" %>
</p>
<p>
<p>
<%= link_to "Sign up now!", "#" , class: "btn btn-large btn-primary" %> </p>
</div>
</p>

